@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
/* @import url(https://fonts.cdnfonts.com/css/sf-pro-display);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import "../fonts/fonts.scss";
@import "01-settings/typography";
@import "03-components/elements/elements";
@import "03-components/layouts/footer";
@import "03-components/layouts/header";

$SfProDisplay: 'SF Pro Display', sans-serif;
/* 


main {
  position: relative;
}

.product-bg-gray {
    background-color: #EEEEEE;
}


.widgets {
    font-style: normal;
    font-weight: 300;

}
.submit-btn, .hero div button {
    border-color:#FFDF38;
    color: #FFDF38;
    padding: 18px 34px;
    gap: 10px;
}
.submit-btn {
    width: 149px;
}
.hero div button {
    width: auto;
}
.hero div button:hover, .submit-btn:hover {
    color: #333333;
    background-color: #FFDF38;
    transition: 0.2s;
}
#about div h2, #howto div h2, #brands div h2 {
    font-style: normal;
    font-weight: 700;
    color: #333333;
}
#about div p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #787878;
}
#howto {
    background-color: #D9D9D9;
}

.filter-btn {
    text-align: center;
}


.dropdown-filter {
    width: 200px;
    border: 1px solid #787878;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 16px;
    left: 0; 
    right: 0;
}

.filter-text {
    vertical-align:middle;
    line-height:21px;
    font-size:20px;
    font-weight: 100;
}
.filter-arrow {
    height: 21px;
    padding-top: 7px;
}


.down-btn{
    color: #333;
}
.down-btn:hover{
    color: #FFDF38;
    transition: 0.2s;
}


.series-card-image {
    z-index: -10;
}





.pagination-button {
    border: #333333 solid 1px;
    border-radius: 50%;
    color: #333;
    transition: 0.2s;
}
.pagination-button:hover {
    background-color: #FFDF38;
    border-color: #FFDF38;
    color: #fff;
}




@media (min-width: 1024px) {
    h2 {
        font-size: 60px;
    }
}


@media (min-width: 1280px) {
    
}


@media (min-width: 1536px) {
    
}

 */