@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url(https://fonts.cdnfonts.com/css/sf-pro-display);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$SfProDisplay: 'SF Pro Display', sans-serif;
$Roboto: 'Roboto', sans-serif;
body {
    font-family: $SfProDisplay;
    color: #333333;
}
#header {
    z-index: 999;
}
.cart-qty-span {
    height: 20px;
    width: 20px;
    background-color: #FFDF38;
    border-radius: 50%;
}
main {
  position: relative;
}

.product-bg-gray {
    background-color: #EEEEEE;
}
h1{
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.h1-color-yellow {
    color: #FFDF38;
    line-height: 79px;
}
.h1-color-white {
    line-height: 79px;
}
.hero div p{
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
}

.hover-black:hover {
    color:#000
}
.hover-yellow:hover {
    color:#FFDF38;
}
footer {
    background-color: #333333;
}
.hero {
    background-size: cover;
}
.hero-main {
    background-image: url(../../public/hero.jpg);
}
.hero-series {
    background-image: url(../../public/bg-series.jpg);
}

.widgets {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;

}
.submit-btn, .hero div button {
    border-color:#FFDF38;
    color: #FFDF38;
    padding: 18px 34px;
    gap: 10px;
}
.submit-btn {
    width: 149px;
}
.hero div button {
    width: auto;
}
.hero div button:hover, .submit-btn:hover {
    color: #333333;
    background-color: #FFDF38;
    transition: 0.2s;
}
#about div h2, #howto div h2, #brands div h2 {
    font-style: normal;
    font-weight: 700;
    color: #333333;
}
#about div p {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #787878;
}
#howto {
    background-color: #D9D9D9;
}


.logo-text {
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFDF38;
}
.filter-btn {
    text-align: center;
    font-family: $Roboto;
}
.back-btn, .filter-btn {
    align-items: center;
    cursor: pointer;
}
.back-dark{
    color: #787878;
}
.back-white{
    color: #fff;
}
.back-cont-abs {
    top: 8rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.dropdown-filter {
    width: 200px;
    border: 1px solid #787878;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 16px;
    left: 0; 
    right: 0;
    font-family: $Roboto;

}
.filter-color-gray {
    color: #3E3D3D;
}
.filter-gray {
    filter: brightness(0);
}
.filter-gray:hover {
    filter: none;
    transition: 0.1s;
}
.filter-white {
    filter: brightness(0) invert(1);

}
.back-text {
    font-weight: 300;
    vertical-align:middle;
    margin-left: 5px;
    line-height:17px;
    font-size:14px;
}
.filter-text {
    vertical-align:middle;
    line-height:21px;
    font-size:20px;
    font-weight: 100;
}
.filter-arrow {
    height: 21px;
    padding-top: 7px;
}
.back-text:hover {
    text-decoration: underline;
    text-underline-offset: 3px
}

.down-btn{
    color: #333;
}
.down-btn:hover{
    color: #FFDF38;
    transition: 0.2s;
}

.product-list h2 {
    font-style: normal;
font-weight: 500;
font-size: 41px;
}
.product-list::after {
    content: "";
    flex: auto;
}
.series-card-image {
    z-index: -10;
}
.product-card-container {
    max-width: 210px;
}
.product-image-border {
    border: 1.5px solid #888888 !important;
    width: 210px;
    height: 210px;

}
.series-card-text {
    z-index: 10;
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
}


$dotSize: 100px;

.base-timeline {
    list-style-type: none;
    counter-reset: number 1;
    position: relative;
    display: block;
    z-index: 2;
    width: 80%;
}

/* set width of time-line this can be px, percentage or other unit
3 is the number of list items minus 1 when using percentage
*/
.base-timeline__item {
    position: relative;
    width: calc(100% / 2 - 15px);
}

.base-timeline__item::before {
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: number; /* number -1*/
    content: counter(number) ''; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #FFDF38;
    font-weight: bold;
    transition: all 0.6s ease-in-out;
    box-sizing: border-box;
        
}

/* modifier with use of the data-year attribute */

.base-timeline__item:last-child {
    width: 0;
}

.base-timeline__summary-text_container {
    display: flex;
    position: absolute;
    top: 0;
    left: $dotSize+20px;
    width: $dotSize*2;
}

.pagination-button {
    border: #333333 solid 1px;
    border-radius: 50%;
    color: #333;
    transition: 0.2s;
}
.pagination-button:hover {
    background-color: #FFDF38;
    border-color: #FFDF38;
    color: #fff;
}

.product-info {
    font-family: $Roboto;

}

.add-to-cart-button, .view-cart-button {
    width: 200px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.add-to-cart-button-normal, .view-cart-button {
    border: 1px solid #888888;
    background-color: #FFFFFF;
    color: rgba(136, 136, 136, 1);
}
.add-to-cart-button-normal:hover, .view-cart-button:hover {
    border: 1px solid #3E3D3D;
    background-color: #3E3D3D;
    color: #FFDF38;
}
.add-to-cart-button-loading {
    border: 1px solid #888888;
    background-color: #ccc;
    color: rgba(136, 136, 136, 1);
}

.quantity-counter {
    width: 130px;
    border: 1px solid #888888;
    height: 52px;
    background-color: #FFFFFF;
    color: rgba(136, 136, 136, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.quantity-counter .minus, .quantity-counter .plus{
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin:8px 5px 8px 5px;
    display: inline-block;
    text-align: center;
    width: 10%;
}
.quantity-counter .plus {
    right: 0;
}
.quantity-counter .minus {
    left: 0;
}
.quantity-counter input{
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    
}
.dimention-tag {
    height: 52px;
}
/* x-small */
@media (max-width: 639px) {
    $dotSize: $dotSize/2;
    h2 {
        font-size: 35px;
    }
    .base-timeline__item {
        display: block;
        margin-top: 20px;
    }
    .base-timeline__summary-text_container {
        height: $dotSize;
        left: $dotSize+20px; 
        margin: auto 0;
        align-items: center;
    }
    .base-timeline__item--data::before {
        content: attr(num);
        width: $dotSize;
        height: $dotSize;
    }
    .base-timeline__item::before {
    font-size: 30px;
    }
}
/* small */
@media (min-width: 640px) {
    $dotSize: $dotSize/2;
    h2 {
        font-size: 48px;
    }
    .base-timeline__item {
        display: block;
        margin-top: 20px;
    }
    .base-timeline__summary-text_container {
        height: $dotSize;
        left: $dotSize+20px; 
        margin: auto 0;
        align-items: center;
    }
    .base-timeline__item--data::before {
        content: attr(num);
        width: $dotSize;
        height: $dotSize;
      }
      .base-timeline__item::before {
        font-size: 30px;
      }
}
/* medium */
@media (min-width: 768px) {
    h2 {
        font-size: 56px;
    }
    .base-timeline {
        margin: 0 5% ;
    }
    .base-timeline__item {
        display: inline-block;
        margin-top: 0;
    }
    .base-timeline::before {
        content: '';
        width: 100%;
        border-top: 3px solid #333;
        display: inline-block;
        position: absolute;
        top: 50%;
        z-index: -1;
    }
    .base-timeline__summary-text_container {
        height: $dotSize/2;
        left: -$dotSize/2; 
        top: 7em;
        justify-content: center;        
    }
    .base-timeline__summary-text {
        text-align: center;
    }
    .base-timeline__item--data::before {
        content: attr(num);
        width: $dotSize;
        height: $dotSize;
      }
      .base-timeline__item::before {
        font-size: 60px;
      }
}
/* large */
@media (min-width: 1024px) {
    h2 {
        font-size: 60px;
    }
}

/* x-large */
@media (min-width: 1280px) {
    
}

/* 2x-large */
@media (min-width: 1536px) {
    
}

